<header id="header_pellere" class="default">
    <div class="logo-title_pellere">
        {{#if @blog.logo}}
            <a class="logo_pellere" href="http://thedigitalgarage.io">
                <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
            </a>
            {{else}}
            <a class="button_pellere mobile-button_pellere" href="{{@blog.url}}"><i class="fa fa-home"><span class="hidden_pellere">LOGO</span></i></a>
        {{/if}}
        <h1><a href="{{@blog.url}}">{{{@blog.title}}}</a></h1>
    </div>
    <div class="menu_pellere">
        <ul>
            {{#if @blog.twitter}}
                <li>
                    <a class="button_pellere twitter-button" href="{{twitter_url}}"><i class="fa fa-twitter"><span class="hidden_pellere">Twitter</span></i></a>
                </li>
            {{/if}}
            {{#if @blog.facebook}}
                <li>
                    <a class="button_pellere facebook-button" href="{{facebook_url}}"><i class="fa fa-facebook"><span class="hidden_pellere">Facebook</span></i></a>
                </li>
            {{/if}}
            <li>
                <a class="button_pellere rss_pellere" href="{{@blog.url}}/rss/"><i class="fa fa-rss"><span class="hidden_pellere">RSS</span></i></a>
            </li>
            {{#if @blog.navigation}}
                <li>
                    <a id="trigger-overlay" class="button_pellere" href="#"><i class="fa fa-bars"><span class="hidden_pellere">MENU</span></i></a>
                </li>
            {{/if}}
        </ul>
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
</header>
